.board {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

/* Players display styling */
.player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  position: relative;
}

.player-top {
  background-color: red;
  color: black;
  font-weight: bold;
  grid-area: 1 / 2;
}

.player-right {
  background-color: green;
  color: black;
  font-weight: bold;
  grid-row: 2 / span 2;
  grid-column: 3;
  transform: rotate(90deg);
}

.player-bottom {
  background-color: blue;
  color: black;
  font-weight: bold;
  grid-area: 4 / 2;
}

.player-left {
  background-color: yellow;
  color: black;
  font-weight: bold;
  grid-row: 2 / span 2;
  grid-column: 1;
  transform: rotate(-90deg);
}

.held-cards {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card {
  background: #f1f1f1;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: center;
}

/* Cards styling */
.card-container {
  color: black;
  font-weight: bold;
  grid-area: 2 / 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.deck {
  left: 0;
  width: 80px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.drawnCard {
  left: 120px;
  width: 80px;
  height: 120px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons styling */
.button-container {
  margin-top: 60px;
  gap: 10px;
  grid-area: 3/2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.place-token-and-pass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.take-card-and-tokens {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pseudo classes */
.place-token-and-pass:hover, .take-card-and-tokens:hover,.new-game:hover {
  cursor: pointer;
}

.place-token-and-pass:active, .take-card-and-tokens:active {
  background-color: darkgray;
  color: black;
}

.player:hover .held-cards {
  display: block;
}

/* Winner display */
.gameover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.winner {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .new-game {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .new-game:active {
    background-color: rgb(83, 83, 225);
  }